body {
    font-size: 15pt;
    background-color: black;
}

 
  

.premier {
  color: whitesmoke;
  font-family: 'Sigmar One', cursive;
   border: none;
  text-align: center;
  display: center;
  border-radius: 2rem;
  background-color: green;
}

.iframe1{
  align-self: center;
  background-color: slategrey;
  border-color: slategrey;
  text-align: center;
  display: center;
  border-radius: 2rem;
  
}

p{
  font-family: 'Bebas Neue', cursive;
  color: whitesmoke;
  align-self: center;
  background-color: slategrey;
  border-color: slategrey;
  text-align: center;
  display: center;
  border-radius: 2rem;
  
}

.deux {
  color: whitesmoke;
  font-family: 'Sigmar One', cursive;
   border: none;
  text-align: center;
  display: center;
  border-radius: 2rem;
  background-color: darkred;
}

.iframe2{
  align-self: center;
  background-color: slategrey;
  border-color: slategrey;
  text-align: center;
  display: center;
  border-radius: 2rem;
}

.studio {
  
   color: whitesmoke;
   font-family: 'Bebas Neue', cursive;
   border: none;
   text-align: center;
   display: center;
   border-radius: 2rem;
   background-color: dodgerblue;
  
}

img {
  
  border-radius: 2rem;
  border: none;
  
}

.trois {
  
    color: whitesmoke;
  font-family: 'Sigmar One', cursive;
   border: none;
  text-align: center;
  display: center;
  border-radius: 2rem;
  background-color: khaki;
  
}

.iframe3 {
  
    align-self: center;
  background-color: slategrey;
  border-color: slategrey;
  text-align: center;
  display: center;
  border-radius: 2rem;
  
}

div {
  margin: 20px auto;
  padding: 15px;
  width: 130%;
  display: center;
}

.header1 {
  background-color: #22488C;
  padding: 50px;
  margin: 20px auto;
}
